body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aquamarine;

}

#carddiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   padding: 20px; 
 
    background-color: antiquewhite;
    box-shadow: 0 0 70px 0  rgb(73, 63, 63);
}
#carddiv>img{
    height: 200px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 200px;
    width: 200px;
   
}
hr{
   border: 1px solid black;
   width: 15vw;
}
.btndiv{
    display: flex;
    gap: 5px;
}
.btndiv>button{

    background-color: green;
    color: aliceblue;
    border: none;
   width: 100px;
   height: 50px;
}